.stats-list{
    list-style: none;
    padding: 0;
}

.stats-item{
    background: #f4f4f4;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid #ff4500;
    text-align: left;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refresh-btn{
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

.refresh-btn:hover {
  background-color: #e03d00;
}

.delete-btn {
  background-color: transparent;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
  border-radius: 4px;
  padding: 2px 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}